{% extends 'base.html.twig' %}
{% block content %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success text-center" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger text-center" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning text-center" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container my-5 text-center"><br>
        <h2 class="mb-5">Connexion</h2>
        <div class="border py-5 px-5">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="form-group">
                    <label for="inputMail">Pseudo : </label>
                    <input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control" required
                                                          autofocus>
                </div>
                <div class="form-group my-5">
                    <label for="inputPassword">Mot de passe : </label><input type="password" name="password" id="inputPassword" class="form-control" required>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me">
                        Se souvenir de moi
                    </label>
                </div>
                <div class="form-group my-2">
                    <a href="{{ path('forgotten_password') }}">
                        Mot de passe oublié ?</a>
                </div>
                <div class="form-group my-3">
                    <button type="submit" class="btn-round-shadow btn btn-success">
                        <span class="fas fa-sign-in-alt"></span>
                        Connexion
                    </button>
                </div>
            </form>
        </div><br><br>
    </div>
{% endblock %}
