{% extends 'base.html.twig' %}
{% block title %}Mon compte{% endblock %}
{% form_theme form 'security/_form-renderer.html.twig' %}
{% block content %}
    <section class="default">
        <div class="default-title container my-5 text-center">
            <h2>Mon compte</h2>
            <figure class="default-img">
                <img style="height: 200px;"  src="{{ asset('uploads/profilePictures/' ~ user.profilePicture) }}">
            </figure>
            <div class="default-form border py-5">
                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.profile_picture) }}
                <p class="my-3 font-weight-bold">
                    <a href="{{ path('update_password') }}">
                        Modifier mon mot de passe ?
                    </a>
                </p>
                <button type="submit" class="mt-2 btn-round-shadow btn btn-success">
                    Valider
                    <span class="fas fa-check"></span>
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
