{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <section>
        <img class="mt-3 shadow img-fluid" src="{{ asset('images/cover.jpg') }}" alt="cover">
        <div class="text-center text-primary">
            <div class="h1 mt-5">Bienvenue sur le</div>
            <h1>Site communautaire Snowtricks</h1>
            <div class="h1 mb-5">des tricks de snowboard</div>
        </div>
        {% if not app.user %}
            <div class="about-content">
                <p>
                    Les figures de snowboard sont des sauts ou des manœuvres exécutées sur des snowboards pour le
                    plaisir
                    ou lors de compétitions. Le plus souvent, ces manœuvres sont effectuées sur des obstacles tels que
                    des sauts, des halfpipes , des quarterpipes , des hanches, des mains courantes, des funbox ou des
                    rebords, ou à la surface de la neige. Beaucoup ont leurs origines dans des sports de glisse plus
                    anciens comme le skateboard et le surf.
                    <br>
                    « J'ai un bon pop sur les frontside nose-roll nollies parce que je les fais à partir d’un carve ».
                    Si
                    vous ne comprenez rien à cette phrase, ce site est fait pour vous.
                    <br>
                    Ce site a été créé pour faire découvrir et partager les figures de snowboard. Inscrivez-vous pour
                    devenir membre de la communauté et collaborer à l'apprentissage des figures de snowboard.
                </p>
                <div class="about-content-btn">
                    <button class="btn" type="button">
                        <a href="{{ path('register') }}">S'inscrire</a>
                    </button>
                    <p class="about-content-p">Déjà inscrit ?</p>
                    <button class="btn" type="button">
                        <a href="{{ path('login') }}">Se connecter</a>
                    </button>
                </div>
            </div>
        {% else %}
            <div class="about-content">
                <p>
                    Vous êtes membre de la communauté Snowtricks.
                    <br>
                    Partagez vos connaissances et collaborer à l'apprentissage des figures de snowboard.</br>
                    <br>
                    Vous pouvez ajouter des nouvelles figures.
                </p>
                <button class="mt-1 mb-3 btn-round-shadow btn btn-primary" type="button">
                    <a class="text-light" href="{{ path('trick_new') }}">
                        <span class="fas fa-snowboarding"></span>
                        Nouvelle trick
                    </a>
                </button>
                <p>
                    Vous pouvez également modifier les tricks de votre choix en ajoutant ou en supprimmant le
                    descriptif,
                    des photos ou des vidéos.</p>
            </div>
        {% endif %}
    </section>
    <section class="mt-5" id="tricks">
        <h2 class="h1 my-3 text-center">Les Tricks</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for trick in tricks %}
                {% set show_url = path('trick_show', {'slug':trick.slug}) %}
                {% set edit_url = path('trick_edit', {'slug':trick.slug}) %}
                {% set delete_url = path('trick_delete', {'slug':trick.slug}) %}
                <div class="col my-2">
                    <div class="card h-100">
                        {% if trick.pictures is defined %}
                            {% for picture in trick.pictures %}
                                {% if loop.first %}
                                    <figure class="card-img-top text-center">
                                        <a href="{{ show_url }}">
                                            <img class="img-fluid" src="{{ asset('uploads/pictures/' ~ picture.path) }}"
                                                 alt="">
                                        </a>
                                    </figure>
                                {% endif %}
                            {% else %}
                                <figure class="card-img-top text-center">
                                    <a href="{{ show_url }}">
                                        <img class="img-fluid" src="{{ asset('uploads/pictures/default-picture.png') }}"
                                             alt="">
                                    </a>
                                </figure>
                            {% endfor %}
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ show_url }}">{{ trick.name }}</a>
                            </h5>
                        </div>
                        <div class="card-footer">
                            {% if app.user %}
                                <div class="tricks-content-card-btn-icon">
                                    <a href="{{ edit_url }}">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a href="{{ delete_url }}" class="fas fa-trash-alt"
                                       onclick="return confirm('Etes-vous sûr de vouloir supprimer cette figure ?');"></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
